<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <title>Prueba Sass</title>
</head>

<body>
    <div class="container">
        <div class="main-header">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="menu-left">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="menu-right">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
    </div>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
            </ul>
            <ul>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
            </ul>
            <ul>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
            </ul>
            
        </nav>
    </div>
    <div class="container">
        <p class="mixin1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus cupiditate illo pariatur
            reiciendis nisi facere porro exercitationem! In sit quo iusto quia aliquid iure consequatur quos pariatur ut
            vero.
        </p>
        <p class="mixin2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus cupiditate illo pariatur
            reiciendis nisi facere porro exercitationem! In sit quo iusto quia aliquid iure consequatur quos pariatur ut
            vero.
        </p>
        <div class="box">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque fugiat itaque. Molestiae
                asperiores repudiandae facere a aliquam illo vel, mollitia sequi nostrum recusandae pariatur. Modi,
                eveniet commodi! Labore, est!
            </p>
        </div>
    </div>
    <div class="container">
        <input class="button-basic" type="button" value="Lorem">
        <input class="button-report" type="button" value="Lorem">
        <input class="button-submit " type="button" value="Lorem">
    </div>
    <div class="container">
        <p class="funcion">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam expedita soluta iure nostrum hic
            provident
            velit, ad quasi culpa officia odio eveniet reiciendis quas voluptatem qui. Maxime libero cum magnam.
        </p>
    </div>
</body>

</html>